<form th:fragment="createDbNodeForm" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="id" >

    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title layui-input-inline">
            <legend>Master</legend>
            <div class="layui-form-item">
                <label class="layui-form-label">ip*</label>
                <div class="layui-input-block">
                    <input type="text" name="ip" required lay-verify="required" placeholder="Master DB IP" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Port*</label>
                <div class="layui-input-block">
                    <input type="text" name="port" required lay-verify="required" placeholder="Master DB Port" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">UserName*</label>
                <div class="layui-input-block">
                    <input type="text" name="dbUserName" required lay-verify="required" placeholder="Master Username" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Password*</label>
                <div class="layui-input-block">
                    <input type="text" name="dbPass" required lay-verify="required" placeholder="Master Password" autocomplete="off" class="layui-input">
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title layui-input-inline">
            <legend>Slave DB</legend>
            <div class="layui-form-item">
                <label class="layui-form-label">ip_bak</label>
                <div class="layui-input-block">
                    <input type="text" name="ipBak"  placeholder="Slave DB IP" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Port_bak</label>
                <div class="layui-input-block">
                    <input type="text" name="portBak"  placeholder="Slave DB Port" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Username_bak</label>
                <div class="layui-input-block">
                    <input type="text" name="dbUserNameBak"  placeholder="Slave Username" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Password_bak</label>
                <div class="layui-input-block">
                    <input type="text" name="dbPassBak"  placeholder="Slave Password" autocomplete="off" class="layui-input">
                </div>
            </div>
        </fieldset>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">Database*</label>
        <div class="layui-input-block">
            <input type="text" name="dbName" required lay-verify="required" placeholder="Database" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Write Status*</label>
        <div class="layui-input-block">
            <input type="radio" name="readOnly"  value="1" title="Read and Wirte" checked="checked">
            <input type="radio" name="readOnly"  value="2" title="Read Only" >
            <input type="radio" name="readOnly"  value="3" title="useless">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Store Type*</label>
        <div class="layui-input-block">
            <input type="radio" name="nodeTypes" value="1" title="Normal" checked="checked">
            <input type="radio" name="nodeTypes" value="2" title="AbNormal">
        </div>
    </div>

    <!--<div class="layui-form-item">
        <label class="layui-form-label">配置类型*</label>
        <div class="layui-input-block">
            <input type="radio" name="normalFlag" value="1" title="自动分配topic" checked="checked">
            <input type="radio" name="normalFlag" value="0" title="手动分配topic">
        </div>
    </div>-->

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">Remark</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="Remarks" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" lay-submit lay-filter="createSubmit" id="createSubmit">Submit</button>
            <button type="reset" class="layui-btn layui-btn-primary">Clear</button>
        </div>
    </div>

    <p>If a slave database is set, when querying messages, the slave database will be queried.</p>
</form>