<!DOCTYPE html>
<html lang="en" layout:decorator="common/contentLayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--页面内容 继承自common/contentLayout.html-->
<div layout:fragment="content">

    <form class="layui-form" id="queryForm">
        <div class="layui-form-item layui-inline">
            <div class="layui-inline">
                <label class="layui-form-label">Consumer Group：</label>
                <div class="layui-input-block" style="width: 250px">
                    <select lay-ignore id="consumerGroupName" name="consumerGroupName" required lay-verType="consumerGroupSelect" lay-verify="required" class="layui-input">
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">Topic：</label>
                <div class="layui-input-block" style="width: 250px">
                    <select lay-ignore id="topicName" name="topicName" required lay-verType="consumerGroupSelect" lay-verify="required" class="layui-input">
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" value="" id="consumerName" placeholder="Input consumer" name="consumerName" class="layui-input search_input"/>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px">
                    <select id="isReadOnly" class="search-select">
                        <option value="">Read Status</option>
                        <option value ="1">Read & Wirte</option>
                        <option value ="2">Read only</option>
                        <option value ="3">useless</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px">
                    <select id="topicType" class="search-select">
                        <option value="">Topic type</option>
                        <option value ="1">Normal topic</option>
                        <option value ="2">Abnormal topic</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px">
                    <select name="mode" id="mode" class="search-select">
                        <option value="">Consumer mode</option>
                        <option value="1">Cluster mode</option>
                        <option value ="2">Broadcast mode</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline" style="width: 100px">
                <select id="subEnv" name="subEnv" lay-filter="dbNodeSelect" lay-search>
                    <option value="">子环境</option>
                    <option th:each="subEnv:${subEnvList}" th:value="${subEnv}" th:text="${subEnv}"></option>
                </select>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px">
                    <input type="number" id="queueOffsetId" name="id" placeholder="Input ID" class="layui-input search_input"/>
                </div>
            </div>

            <a class="layui-btn" id="queueOffsetSearch_btn" lay-filter="queueOffsetFilter"><i class="layui-icon">&#xe615;</i>Search</a>
        </div>
    </form>
    <table class="layui-table" lay-data="{height:'full', url:'/queueOffset/list/data', page:true,limits:[10,20,30,40,50,60,70,80,90,100,200,500,1000,2000],limit: 10, id:'queueOffsetTable',toolbar:'#toolbarDemo'}" lay-filter="queueOffsetTable">
        <thead>
        <tr>
            <th lay-data="{field: 'id', align: 'center', sort: true,width:'5%',templet:'#idTpl',fixed:'left'}">ID</th>
            <th lay-data="{field: 'consumerGroupName',sort: true,width:'15%', align: 'center',fixed:'left'}">Consumer Group</th>
            <th lay-data="{field: 'topicName',sort: true,width:'15%', align: 'center',fixed:'left'}">Topic</th>
            <th lay-data="{field: 'consumerName',sort: true, align: 'center',width:'10%',fixed:'left'}">Consumer</th>
            <th lay-data="{field: 'offset', align: 'center',templet:'#offsetTpl',width:'6%',sort: true}">Offset</th>
            <th lay-data="{field: 'pendingMessageNum', align: 'center',templet:'#pendingMessageNumTpl',width:'7%',sort: true}">Pending Msg</th>
            <th lay-data="{field: 'readOnly', align: 'center', templet:'#queueTypeTpl',width:'6%'}">Read mode</th>
            <th lay-data="{field: 'stopFlag', align: 'center', templet:'#stopFlagTpl',width:'6%'}">Stop flag</th>
            <th lay-data="{field: 'messageNum', align: 'center',width:'6%',sort: true}">Msg num</th>
            <th lay-data="{field: 'startOffset', align: 'center',width:'6%',sort: true}">Start offset</th>
            <th lay-data="{field: 'minId', align: 'center',width:'6%',sort: true}">Min id</th>
            <th lay-data="{field: 'subEnv', align: 'center',width:'6%',sort: true}">Sub env</th>
            <th lay-data="{field: 'topicType', align: 'center',templet:'#topicTypeTpl',width:'6%'}">Topic type</th>
            <th lay-data="{field: 'queueId', sort: true,align: 'center',width:'6%'}">Queue ID</th>
            <th lay-data="{field: 'nodeType', align: 'center',templet:'#nodeTypeTpl',width:'6%'}">Node Type</th>
            <th lay-data="{field: 'dbInfo',align: 'center',width:'10%'}">DB info</th>
            <th lay-data="{field: 'insertTime',align: 'center',width:'10%'}">Create time</th>
            <th lay-data="{fixed: 'right', align:'center', width:250, toolbar: '#ctrlBar'}">Function</th>
        </tr>
        </thead>
    </table>
    <div class="layui-collapse" lay-accordion="">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">Manual</h2>
            <div class="layui-colla-content layui-show">
                <p style="color: red">1.1. When the offset value is less than the minimum Id, the offset field is displayed in red. It affects consumption and needs to be dealt with in time!</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Cause of the problem: Messages will be cleaned regularly, and the minimum ID of the data table is getting larger and larger. If your consumer never consumes (that is, the offset never changes), there will be a problem that the offset value is less than the minimum Id.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Solution: Manually modify the offset so that the offset value is greater than the minimum ID of the current data table.</p>
                <br/>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="end-load-files">
    <script th:src="@{/js/queueOffsetList.js?t=12312}"></script>

    <script type="text/html" id="offsetTpl">
        {{#  if(d.offset < d.minId){ }}
        <div style="background-color: #f52117;color: white">{{ d.offset }}</div>
        {{#  } else { }}
        {{ d.offset }}
        {{#  } }}
    </script>

    <script type="text/html" id="pendingMessageNumTpl">
        {{#  if(d.pendingMessageNum < 0){ }}
        <div style="background-color: #f52117;color: white">{{ d.pendingMessageNum }}</div>
        {{#  } else { }}
        <div style="color: blue">{{ d.pendingMessageNum }}</div>
        {{#  } }}
    </script>

    <script type="text/html" id="idTpl">
        <a href onclick="return false" >
<img src="/images/log.png"  data-id="{{= d.consumerGroupId }}"
                                          class="logSearch"/></a>&nbsp;&nbsp;{{= d.id }}
    </script>
    <script type="text/html" id="ctrlBar">
        {{#  if((d.role==0||d.role==1)){ }}
            {{#  if(d.topicType == 1||(d.role==0&&d.topicType == 2)){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="updateQueueOffset">Offset</a>
            {{#  } }}



        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="intelligentDetection">Detection</a>

        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="searchMessage">Search Msg</a>


        {{#  } else { }}

        {{#  } }}

    </script>
    <script type="text/html" id="topicTypeTpl">
        {{#  if(d.topicType == 1){ }}
        <label><span class="layui-badge layui-bg-green">Normal</span></label>
        {{#  } else { }}
        <label><span class="layui-badge">Abnormal</span></label>
        {{#  } }}
    </script>
    <script type="text/html" id="nodeTypeTpl">
        {{#  if(d.topicType == 1){ }}
        <label><span class="layui-badge layui-bg-green">Normal</span></label>
        {{#  } else { }}
        <label><span class="layui-badge">Abnormal</span></label>
        {{#  } }}
    </script>
    <script type="text/html" id="queueTypeTpl">
        <div class="layui-inline">

            {{#  if(d.readOnly == 1){ }}
            <label><span class="layui-badge layui-bg-green">Read & Wirte</span></label>
        {{#  } else { }}

        {{#  if(d.readOnly == 2){ }}
        <label><span class="layui-badge">read only</span></label>
        {{#  } else { }}
        <label><span class="layui-badge layui-bg-orange">Useless</span></label>
        {{#  } }}

        {{#  } }}

            {{#  if((d.role==0||d.role==1)){ }}
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-xs " lay-event="updateReadOnly">
            <i class="layui-icon">&#xe642;</i>
        </button>
            {{#  } else { }}

            {{#  } }}

        </div>
    </script>
    <script type="text/html" id="stopFlagTpl">

        <div class="layui-inline">

            <label><span class='spPromote' title="Green is normal, red is Abnormal">
        {{#  if(d.stopFlag == 0){ }}
        <i class="layui-icon icon-yes">&#xe605;</i>
        {{#  } else { }}
        <i class="layui-icon icon-no">&#x1006;</i>
        {{#  } }}

        </span></label>

            {{#  if((d.role==0||d.role==1)){ }}
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-xs marg1"  lay-event="updateStopFlag">
            <i class="layui-icon">&#xe642;</i>
        </button>
            {{#  } else { }}

            {{#  } }}

        </div>

    </script>

    <style type="text/css">

        .warn1 {
            color: red;
            font-size: large;
            font-weight: bold;
        }

        .marg1{
            margin-top: -10px;
        }
        .layui-table-cell {
            padding: 0 5px !important;
        }

        .icon-yes {
            font-size: 30px;
            color: #5FB878;
            font-weight: 900;
        }

        .icon-no {
            font-size: 30px;
            color: #e60000;
            font-weight: 900;
        }

        .spCount {
            color: #F581B1;
        }

        .spuerStatusText {
            color: #F581B1;
            font-weight: bold;
        }
    </style>
</div>
</html>
