<!DOCTYPE html>
<html lang="en" layout:decorator="common/contentLayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content">

    <input type="hidden" name="id" id="topicId" th:value="${topicId}">
    <form style="max-width: 700px" class="layui-form" id="createTopicForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">Topic*</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verType="tips" lay-verify="required|topicName" placeholder="Topic Name" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">(Cannot be modified after submission)</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">PIC*</label>
            <div class="layui-input-block">
                <select lay-ignore style="width: 100%"  id="ownerIds" required lay-verType="tips" lay-verify="required" class="layui-input" multiple="multiple">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">AppId</label>
            <div class="layui-input-block">
                <input type="text" id="appId" name="appId" required lay-verType="tips" placeholder="Input AppId"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Department*</label>
            <div class="layui-input-block">

                <select lay-ignore style="width: 100%" name="dptName" id="dptName" required lay-verType="tips" lay-verify="required" class="layui-input">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Expect msg Count(*10K)</label>
            <div class="layui-input-block" id="expectDayCountDiv">
                <select name="expectDayCount" lay-verify="required" lay-verType="tips">
                    <option th:each="option:${options}" th:value="${option}" th:text="${option}+'*10K'"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">retention days*</label>
            <div class="layui-input-block" id="saveDayNum">
                <select name="saveDayNum" id="saveDayNumSelect" lay-verify="required" lay-verType="tips">
                    <option th:each="saveDayNum:${saveDayNums}" th:value="${saveDayNum}" th:text="${saveDayNum}"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Warning Mail*</label>
            <div class="layui-input-block">
                <input type="text" id="emails" name="emails" required lay-verType="tips" lay-verify="required|emailList" placeholder="Use comma split mail address if you need multi mail" autocomplete="off" class="layui-input" th:value="${userEmail}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Warning Phone</label>
            <div class="layui-input-block">
                <input type="text" name="tels" lay-verType="tips" lay-verify="telList" placeholder="Use comma split multi phone number" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">businessType</label>
            <div class="layui-input-block">
                <select name="businessType" id="businessType">

                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">Max Lag*</label>
            <div class="layui-input-block">
                <input type="number" name="maxLag" required lay-verType="tips" lay-verify="required|positiveInt" placeholder="Topic message max lag" value="10000" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">Allow everyone subscribe*</label>
            <div class="layui-input-block" id="consumerFlagDiv" required>
                <input type="radio" name="consumerFlag" value="1" title="Y" checked="">
                <input type="radio" name="consumerFlag" value="0" title="N" >
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Allow ConsumerGroup</label>
            <div class="layui-input-block">
                <select lay-ignore style="width: 100%" id="consumerGroupList" name="consumerGroupList" required lay-verType="tips" lay-verify="required" class="layui-input" multiple="multiple">
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">(if not allow everyone subscribe, please input allow consumer group)</div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">remark</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="please input" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="createSubmit" id="createSubmit">Commit</button>
            </div>
        </div>
    </form>

    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">Text Module</h2>
            <div class="layui-colla-content">
                <textarea id="textMode" name="textMode"class="layui-textarea"></textarea>
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="color: red">
        <p>Text effect only in now topic</p>
    </fieldset>

</div>
<div layout:fragment="end-load-files">
    <script th:src="@{/js/createTopicForm.js}"></script>
</div>