<div th:fragment="leftmenu" xmlns:th="http://www.thymeleaf.org">
	<div id="navMenu" class="layui-nav layui-nav-tree" lay-filter="test"
		style="cursor: pointer">
		<ul>
			<li class="layui-nav-item"><a id="1"
				data-url="/queueOffset/accumulation"> <i
					class="iconfont icon-computer"></i>&nbsp;&nbsp;OverStockReport
			</a></li>

			<li class="layui-nav-item"><a id="2" data-url="/dataPanel/panel"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;DataReport</a></li>

			<li class="layui-nav-item"><a id="3" data-url="/topic/list"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Topics</a></li>

			<li class="layui-nav-item"><a id="4"
				data-url="consumerGroup/list"><i class="myiconfont icon-daohang"></i>&nbsp;&nbsp;ConsumerGroups</a></li>

			<li class="layui-nav-item"><a id="5" data-url="queueOffset/list"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;QueueOffsets</a></li>

			<li class="layui-nav-item"><a id="6" data-url="/queue/list"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Queues</a></li>

			<li class="layui-nav-item"><a id="7" data-url="/message/list"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Messages</a></li>

			<li class="layui-nav-item"><a id="8"
				data-url="/auditLog/listPage"><i class="myiconfont icon-daohang"></i>&nbsp;&nbsp;System Log</a></li>
			<li class="layui-nav-item"><a id="9" data-url="/consumer/list"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Consumers</a></li>


			<li class="layui-nav-item"><a id="11" data-url="/queue/report"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Queue Report</a></li>

			<li class="layui-nav-item"><a id="12" data-url="/topic/report"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Topic Report</a></li>

			<li class="layui-nav-item"><a id="13"
				data-url="/physical/machine/report"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;DB Report</a></li>
		</ul>

		<div id="proHideMessageTool" class="hide">
			<li class="layui-nav-item"><a id="14" data-url="/message/tool"><i
					class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Simulation Tools</a></li>
		</div>



		<div id="menuAdmin" class="hide">
			<ul>

				<li class="layui-nav-item"><a id="15" data-url="/dbNode/list2"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;DataNode</a></li>

				<li class="layui-nav-item"><a id="16" data-url="/notify/list"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Notify</a></li>

				<li class="layui-nav-item"><a id="17" data-url="/mqLock/lock"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Lock</a></li>

				<li class="layui-nav-item"><a id="19" data-url="/server/list"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Server</a></li>

				<li class="layui-nav-item"><a id="20"
					data-url="/redundance/dataCheck"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;DataCheck</a></li>


				<li class="layui-nav-item"><a id="22"
					data-url="/dataBase/connections"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Mysql Check</a></li>

				<li class="layui-nav-item"><a id="23"
					data-url="/config/soaConfig"><i class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Config list</a></li>

				<li class="layui-nav-item"><a id="24"
					data-url="/syn/envSynTool"><i class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Metadata</a></li>

				<li class="layui-nav-item"><a id="25"
											  data-url="/department/departmentReport"><i
						class="myiconfont icon-daohang"></i>&nbsp;&nbsp;Statistics</a></li>

			</ul>
		</div>

	</div>
</div>